@namespace EcoMeal.Site.Components.OrderCard
@using Microsoft.AspNetCore.Components.Authorization
@using EcoMeal.Site.Services

<div class="col-12 col-md-6 col-lg-4">

    <div class="card card-hover w-100 h-100 shadow-sm border border-1 border-dark rounded-3 overflow-hidden">

        <div class="card-body p-3">

            <div class="position-relative mb-3">

                <h4 class="card-title text-dark fw-bold text-center mb-0">
                    Comanda #@Order.Id
                </h4>

                <span class="badge rounded-pill position-absolute top-0 end-0
                    bg-success text-white px-2 py-1">
                    @Order.Status
                </span>

            </div>

            <div class="mb-2">

                <small class="text-dark d-block">
                    Restaurant
                </small>

                <span class="fw-bold text-dark">
                    @Order.BusinessName
                </span>

            </div>

            <div class="mb-2">

                <small class="text-dark d-block">
                    Pachet
                </small>

                <span class="fw-bold text-dark">
                    @Order.PackageName
                </span>

            </div>


            <div class="mb-2">

                <small class="text-dark d-block">
                    Data comenzii
                </small>

                <span class="fw-bold text-dark">
                    @Order.Date.ToString("dd.MM.yyyy HH:mm")
                </span>

            </div>


            <div class="d-flex justify-content-between align-items-center border-top pt-2 mt-3">

                <span class="fs-5 fw-bold text-success">
                    Total
                </span>

                <span class="fs-5 fw-bold text-success">
                    @Order.Price lei
                </span>

            </div>


            @if (IsAdmin)
            {
                <div class="mt-2">

                    <button class="btn btn-success btn-sm w-100 rounded-5"
                            @onclick="() => ApproveOrder(Order.Id)">

                        Confirmă comanda

                    </button>

                </div>
            }
			else if (Order.Status == "Plasata")
            {
                <div class="mt-2">

                    <button class="btn btn-danger btn-sm w-100 rounded-5"
                            @onclick="() => CancelOrder(Order.Id)">
                        Anulează comanda

                    </button>

                </div>
            }

        </div>

    </div>

</div>