@using EcoMeal.Site.Components.OrderCard

@if (Orders is null)
{
    <p>Loading...</p>
}
else
{
    <!-- Bara de filtrare -->
    <div class="row mb-4">
        <div class="col-12 col-md-4">
            <label class="form-label fw-bold mb-1">
                Tip restaurant
            </label>

            <InputSelect class="form-select"
                         @bind-Value="SelectedBusiness"
                         @bind-Value:after="FilterOrders">

                <option value="0">
                    Toate comenzile
                </option>

                @foreach (var business in Businesses)
                {
                    <option value="@business.Id">
                        @business.Name
                    </option>
                }

            </InputSelect>
        </div>
    </div>

    <!-- Comenzile, pe rândul următor -->
    <div class="row g-3">
        @if (!OrdersFiltered.Any())
        {
            <p>Nu există comenzi.</p>
        }
        else
        {
            @foreach (var order in OrdersFiltered)
            {
                <OrderCard order="@order"
                IsAdmin="@IsAdmin"
                OnApprove="@OnApprove"
                OnCancel="@OnCancel" />
            }
        }
    </div>
}