@page "/business/{BusinessId:int}/addPackage"
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer

<AuthorizeView Roles="Admin">
    <Authorized Context="authContext">
<div class="mx-auto px-3 py-4 card-body rounded-2 border border-1 border-dark " style="max-width: 500px; width: 100%; background:#D8EFD8">
    <p class="text-center fs-2 fw-bold text-dark lh-1">Adaugă pachet</p>
    <EditForm Model="PackageAddModel" OnValidSubmit="AddPackageInService">
        <DataAnnotationsValidator/>
        @*@<ValidationSummary/>*@

        <label class="form-label fs-6 fw-bold">Nume</label>
        <InputText class="form-control mb-2 rounded-2 shadow border border-1 border-dark"
                   @bind-Value="PackageAddModel.Name"
                   placeholder="Adauga nume pachet" />

        <ValidationMessage For="@(() => PackageAddModel.Name)"/>

        <label class="form-label fs-6 fw-bold">Descriere</label>
        <InputTextArea @bind-Value="PackageAddModel.Description"
                       placeholder="Descriere"
                       rows="4"
                       class="form-control mb-2 rounded-2 shadow border border-1 border-dark" />
    
        <ValidationMessage For="@(() => PackageAddModel.Description)" />

        <label class="form-label fs-6 fw-bold">Pret</label>
        <InputNumber @bind-Value="PackageAddModel.Price"
                        placeholder="Pret"
                        class="form-control mb-2  rounded-2 shadow border border-1 border-dark" />

        <ValidationMessage For="@(() => PackageAddModel.Price)" />
       
        <label class="form-label fs-6 fw-bold">Tip pachet</label>
        <InputSelect @bind-Value="PackageAddModel.PackageTypeId"
                        class="form-control mb-2 rounded-2 shadow border border-1 border-dark">
            <option value="0"
                    disabled>Alege tipul...</option>
            @if (PackageTypes is not null)
            {
                foreach (var packageType in PackageTypes)
                {
                    <option value="@packageType.Id">@packageType.Name</option>
                }
            }
        </InputSelect>

        <ValidationMessage For="@(() => PackageAddModel.PackageTypeId)" />

        <label class="w-50 form-label fs-6 fw-bold">Start Pick-up</label>
        <InputDate @bind-Value="PackageAddModel.StartPickup"
                    Type="InputDateType.DateTimeLocal"
                    placeholder="Start Pick-up"
                    class="form-control mb-2 rounded-2 shadow border border-1 border-dark" />

        <ValidationMessage For="@(() => PackageAddModel.StartPickup)" />
        <label class="w-50 form-label fs-6 fw-bold">End Pick-up</label>
        <InputDate @bind-Value="PackageAddModel.EndPickup"
                    Type="InputDateType.DateTimeLocal"
                    placeholder="End Pick-up"
                    class="form-control mb-2 rounded-2 shadow border border-1 border-dark" />
    
        <ValidationMessage For="@(() => PackageAddModel.EndPickup)" />
        <br>
        <button type="submit" class="btn btn-success rounded-5">Adaugă pachet</button>

    </EditForm>
</div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>
