@page "/business/{Id:int}"
@using EcoMeal.Site.Components.PackageList
@using EcoMeal.Site.Models
@using EcoMeal.Site.Services;
@using Microsoft.AspNetCore.Components.Authorization
@rendermode InteractiveServer
@if (Business is null)
{
    return;
}

<div class="container my-4">
    <div class="card-body rounded-1 shadow border border-1 border-dark p-3" style="background: linear-gradient(to right, #81C784, #C8E6C9);">
    
        <p class="card-title text-black fs-1 fw-bold text-center">@Business.Name</p>
        <p class="card-text text-primary-emphasis fs-4 fw-bold text-center">@Business.Description</p>

        <i class="bi bi-geo-alt-fill me-2"></i>
        <span class="card-text text-dark fw-bold fs-4">@Business.Adress</span>

        <br>

        <i class="bi bi-envelope me-2"></i>
        <span class="card-text text-dark fs-4 fw-bold">@Business.Contact</span>
    </div>
    <br>
    <div class="d-flex justify-content-between mt-4 mb-3">
        <p class="text-center fs-3 fw-bold text-dark lh-1">Aici puteți vedea toate pachetele disponibile: </p>
        <AuthorizeView Roles="Admin"> 
            <button type="button"
                    class="btn btn-success rounded-5" @onclick="NavigateToAddPackage">
                + Adaugă pachet
            </button>
        </AuthorizeView>
    </div>

    <PackageList Id="@Business.Id"/>

</div>

@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    public required BusinessService BusinessService { get; set; }
    [Inject]
    public required PackageService PackageService { get; set; }
    [Inject]
    public required NavigationManager NavigationManager { get; set; }

    private BusinessModel? Business;
    private List<PackageModel>? Packages;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(Id);
        Business = await BusinessService.GetOneById(Id);
        Packages = await PackageService.GetFromBusinessId(Id);
    }

    public void NavigateToAddPackage ()
    {
        NavigationManager.NavigateTo(uri: $"business/{Id}/addPackage");
    }
}