@page "/business/{Id:int}"
@using EcoMeal.Site.Components.PackageList
@using EcoMeal.Site.Models
@using EcoMeal.Site.Services;
@rendermode InteractiveServer
@if (Business is null)
{
    return;
}

<div class="container my-4">
    <p class="card-title text-black text-center fs-1 fw-bold">@Business.Name</p>
    <p class="card-text text-danger text-center fs-4 fw-bold">@Business.Description</p>
    <p class="card-text text-primary-emphasis text-center fw-bold fs-4">Suntem în @Business.Adress</p>
    <p class="card-text text-warning-emphasis text-center fs-4 fw-bold text-decoration-underline">Trimite un mail la: <br> @Business.Contact</p>

    <br> <br> <br>

    <div class="d-flex justify-content-between mt-4 mb-3">
        <p class="text-center fs-3 fw-bold text-dark lh-1">Aici puteți vedea toate pachetele disponibile: </p>
        <button type="button"
                class="btn btn-success rounded-4" @onclick="NavigateToAddPackage">
            + Adaugă pachet
        </button>
    </div>

    <PackageList Id="@Business.Id"/>

</div>

@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    public required BusinessService businessService { get; set; }
    [Inject]
    public required NavigationManager NavigationManager { get; set; }

    private BusinessDetailsModel? Business;
    private List<PackageModel>? Packages;

    protected override async Task OnInitializedAsync()
    {
        Business = await businessService.GetOneById(Id);
        Packages = await businessService.GetPackagesFromBusinessId(Id);
    }

    public void NavigateToAddPackage ()
    {
        NavigationManager.NavigateTo(uri: $"business/{Id}/addPackage");
    }
}