@page "/updateBusiness/{Id:int}"
@rendermode InteractiveServer

<p class="text-center fs-2 fw-bold text-dark lh-1">Editează restaurant</p>

<EditForm Model="BusinessAddModel">
    @*@<DataAnnotationsValidator />*@
    <ValidationSummary />

    <label class="form-label fs-5 fw-bold">Nume</label>
    <InputText class="form-control mb-2 rounded-2 shadow border border-1 border-dark"
               @bind-Value="BusinessAddModel.Name"
               placeholder="Editează nume resturant" />

    <ValidationMessage For="@(() => BusinessAddModel.Name)" />

    <label class="form-label fs-5 fw-bold">Adresă</label>
    <InputTextArea @bind-Value="BusinessAddModel.Adress"
                   placeholder="Adresă"
                   rows="4"
                   class="form-control mb-2 rounded-2 shadow border border-1 border-dark" />

    <ValidationMessage For="@(() => BusinessAddModel.Adress)" />
    
    <label class="form-label fs-5 fw-bold">Descriere</label>
    <InputTextArea @bind-Value="BusinessAddModel.Description"
                   placeholder="Descriere"
                   rows="4"
                   class="form-control mb-2 rounded-2 shadow border border-1 border-dark" />

    <ValidationMessage For="@(() => BusinessAddModel.Description)" />
    
    <label class="form-label fs-5 fw-bold">Contact</label>
    <InputTextArea @bind-Value="BusinessAddModel.Contact"
                   placeholder="Contact"
                   rows="4"
                   class="form-control mb-2 rounded-2 shadow border border-1 border-dark" />

    <ValidationMessage For="@(() => BusinessAddModel.Contact)" />

    <label class="form-label fs-5 fw-bold">Tip restaurant</label>
    <InputSelect @bind-Value="BusinessAddModel.BusinessTypeId"
                 class="form-control mb-2 rounded-2 shadow border border-1 border-dark">
        <option value="0"
                disabled>Alege tipul...</option>
        @if (BusinessTypes is not null)
        {
            foreach (var packageType in BusinessTypes)
            {
                <option value="@packageType.Id">@packageType.Name</option>
            }
        }
    </InputSelect>

    <ValidationMessage For="@(() => BusinessAddModel.BusinessTypeId)" />

    <button type="submit" class="btn btn-success rounded-4" @onclick="UpdateBusinessInService">Adaugă Restaurant</button>

</EditForm>

